<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="fondo">
  <a href="{{ url_for('inicio') }}" class="btn btn-warning position-absolute top-0 start-0 m-3">
  Volver al inicio
</a>
    <div class="auth-wrap" >
      <div class="auth-card">
        <h2 class="auth-title">Crear cuenta</h2>
        {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
        {% endif %}

        <form method="POST" action="{{ url_for('registro') }}">
        <form method="POST" action="{{ url_for('registro') }}">
          <div class="field">
            <label>Nombre completo</label>
            <input type="text" name="nombre" placeholder="Tu nombre" required/>
          </div>
          <div class="field">
            <label>Correo electrónico</label>
            <input type="email" name="correo" placeholder="tucorreo@email.com" required/>
          </div>
          <div class="field">
            <label>Contraseña</label>
            <input type="password" name="contrasena" placeholder="••••••••" required/>
          </div>
          <button type="submit" class="btn-primary">Crear cuenta</button>
        </form>
        <p class="register-link">¿Ya tienes cuenta?
          <a href="{{ url_for('perfil') }}">Inicia sesión</a>
        </p>
      </div>
    </div>
  </div>

</body>
</html>